ray==2.39.0
pandas==2.2.3
pyarrow==18.0.0
runpod==1.7.4
huggingface-hub==0.26.2
packaging==24.2
typing-extensions==4.7.1
pydantic==2.9.2
pydantic-settings==2.6.1
hf-transfer==0.1.8
transformers==4.46.3
